@use "../../../styles/mixins" as *;

.player-detail-page {
  margin: 0 auto;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1.5rem;

  @include bp(lg) {
    padding: 2.5rem 2rem;
  }
}
